.ant-layout-sider-children {
  width:100%;
}

.at-track {
  display:flex;
  gap: 1rem;

  &.active {
    color: var(--md-ref-palette-primary99);
    font-weight: 700;
  }
  .anticon {
    transform: scale(-1,1);
  }
}

.slider-wrapper {
  display: flex!important;
  gap:.5rem;
}